.page__footer {
  padding-top: 500px;
  margin-top: -480px;

  @apply relative bg-transparent overflow-hidden items-center justify-center z-0;

  &::before {
    content: "";
    top: 600px;
    height: 2000px;
    transform: skew(0, -4deg);
    z-index: -1;

    @apply absolute bg-tertiary left-0 right-0;
  }

  &-text {
    @apply py-5 px-3 my-5 mx-auto;
  }

  .menu {
    @apply mb-8 block text-center;

    @extend .list-reset;

    &__title {
      @apply text-steel-blue text-xl;
    }

    &__item {
      @apply mb-3;

      a {
        @apply text-steel-blue;
      }
    }
  }
}

.copyright {
  @apply text-center text-sm text-steel-blue capitalize leading-normal tracking-wide my-5;
}

@screen sm {
  .page__footer {
    &-text {
      @apply flex max-w-screen-sm;
    }

    &-logo {
      @apply flex-1 text-center;
    }

    .menu {
      @apply text-center flex-1;

      a:hover {
        @apply text-secondary;
      }
    }
  }
}
