.banner {
  @apply sticky flex items-center content-start bg-tertiary h-16 py-4 top-0 z-40;

  &__title {
    @apply text-xl my-0 text-steel-blue font-extrabold;
  }
}

.logo {
  @apply flex items-center flex-shrink-0 mr-6;

  .brand {
    @apply text-primary;

    &:hover,
    &:focus,
    &:active {
      @apply text-secondary;
    }
  }

  &__image {
    .banner & {
      max-width: 50px;
    }

    .page__footer & {
      @apply w-32;
    }

    &-text {
      @apply stroke-current;
    }
  }
}

.menu__btn {
  @apply p-3 text-right cursor-pointer fill-current;

  &:hover,
  &:focus,
  &:active {
    @apply text-secondary;
  }

  .banner--active & {
    @apply text-primary;
  }
}

.menu__items {
  @apply mx-auto text-lg flex block tracking-wide uppercase;

  .nav {
    @apply justify-center font-bold p-5 h-full;
    @extend .list-reset;
  }

  .menu-item {
    transition: all 0.3s;

    @apply relative p-1;

    > a {
      text-decoration: none;
      transition: all 0.3s;

      @extend h3;

      @apply relative overflow-hidden block text-steel-blue p-2 rounded border-2;

      &:hover,
      &:active,
      &:focus {
        @apply bg-steel-blue text-primary;
      }
    }

    .sub-menu {
      @apply mt-1 pb-0 block;

      @extend .list-reset;

      .menu-item {
        @apply p-0;
      }

      a {
        @apply text-base border-none mt-2 px-3 py-1;
      }
    }
  }
}

.menu {
  @apply block flex-grow flex items-center w-auto;
}

@screen sm {
  .banner {
    @apply px-3;
  }

  .menu__overlay .menu {
    @apply text-left my-2;
  }

  .menu__items {
    @apply mx-auto;

    .nav {
      @apply flex-wrap flex;
    }

    .menu-item {
      @apply p-3;

      > a {
        @apply text-steel-blue px-3 py-1 rounded-none border-0 border-b-2;
      }

      .sub-menu {
        @apply mt-5;
      }
    }
  }
}

.search {
  @apply transition-fast relative block h-10 w-full rounded-lg outline-none cursor-pointer text-gray-600 px-4 pb-0;
}

@screen sm {
  .search {
    @apply w-1/2;

    &:focus {
      @apply w-3/4;
    }
  }
}
