body {
    font-size: 17px;

    @apply bg-steel-blue;
}

a {
    @apply font-normal no-underline text-secondary;

    &:hover {
        @apply text-tertiary;
    }
}

blockquote {
    @apply .border-l-4;
    @apply .font-normal;
    @apply .italic;
    @apply .my-8;
    @apply .pl-6;
    @apply .text-gray-500;
    @apply .text-lg;
}

code {
    @apply .bg-gray-300;
    @apply .px-2;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
}

code.hljs {
    @apply .bg-transparent;
    @apply .p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply .font-normal;
        @apply .not-italic;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight mb-4 mt-8;

    &:first-child {
        @apply mt-0;
    }
}

h1 {
    @apply font-extrabold leading-tight text-4xl;

    @screen lg {
        @apply text-6xl;
    }
}

h2 {
    @apply font-extrabold text-3xl;

    @screen lg {
        @apply text-5xl;
    }
}

h3 {
    @apply font-bold text-xl uppercase;
}

h4 {
    @apply font-medium leading-tight text-lg uppercase;
}

h5 {
    @apply font-medium text-lg;
}

h6 {
    @apply font-medium;
}

hr {
    @apply border-b border-tertiary my-12 rounded-full;
}

li {
    ul,
    ol {
        @apply .my-0;
    }
}

ol,
ul {
    @apply .my-4;
}

p {
    @apply my-3 font-medium;

    @screen md {
        @apply my-4;
    }
}

pre {
    @apply bg-gray-200 leading-loose my-6 overflow-x-auto p-4 rounded shadow text-base;

    code {
        @apply bg-transparent block p-0;
    }
}

img {
    @apply block;
}

::selection {
    @apply bg-primary text-white;
}

.list-reset {
  list-style: none;
  padding: 0;
}
